## Manejo de pandas

In [1]:
import pandas as pd
datos = {
    'Nombre': ['Ana', 'Juan', 'Sofia', 'Carlos'],
    'Edad': [25, 30, 22, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

df = pd.DataFrame(datos)
print(df)

   Nombre  Edad     Ciudad
0     Ana    25     Madrid
1    Juan    30  Barcelona
2   Sofia    22   Valencia
3  Carlos    35    Sevilla

In [45]:
import pandas as pd
df_lung_cancer = pd.read_csv('lung_cancer.csv')
df_lung_cancer.drop('ID', axis = 1, inplace = True)
# passive_smoker = df_lung_cancer[df_lung_cancer['Passive_Smoker'] == "No"]
smokers = df_lung_cancer[df_lung_cancer['Smoker'] == "Yes"]
smokers_by_country = smokers.groupby(['Country','Gender'])['Cigarettes_per_Day'].sum()
smokers_by_gender = smokers.groupby('Gender')['Smoker'].count()
age_mean_smokers = smokers['Age'].mean()
type_smoker = smokers.groupby('Passive_Smoker')['Smoker'].count()
print('Cantidad de cigarrillos fumados al dia\n', smokers_by_country)
print('\nFumadores por genero\n', smokers_by_gender)
print('\nTipo de fumadores\n', type_smoker)

Cantidad de cigarrillos fumados al dia
 Country       Gender
Bangladesh    Female    19421
              Male      42097
Brazil        Female    19193
              Male      42172
China         Female    18460
              Male      43055
DR Congo      Female    18984
              Male      42292
Egypt         Female    20053
              Male      42205
Ethiopia      Female    20702
              Male      43625
France        Female    20085
              Male      42572
Germany       Female    19340
              Male      41937
India         Female    19088
              Male      42930
Indonesia     Female    19442
              Male      42714
Iran          Female    19113
              Male      42335
Italy         Female    19108
              Male      42907
Japan         Female    19579
              Male      44548
Mexico        Female    18533
              Male      43755
Myanmar       Female    20064
              Male      41907
Nigeria       Female    19696
              Male      41931
Pakistan      Female    19842
              Male      41943
Philippines   Female    19382
              Male      43386
Russia        Female    19281
              Male      41914
South Africa  Female    20072
              Male      42058
Thailand      Female    18100
              Male      41321
Turkey        Female    19792
              Male      42419
UK            Female    18367
              Male      40883
USA           Female    18868
              Male      42633
Vietnam       Female    19607
              Male      42371
Name: Cigarettes_per_Day, dtype: int64

Fumadores por genero
 Gender
Female    27654
Male      60687
Name: Smoker, dtype: int64

Tipo de fumadores
 Passive_Smoker
No     61758
Yes    26583
Name: Smoker, dtype: int64

In [5]:
import pandas as pd
import numpy as np

np.random.seed(42)
num_registros = 1000

fechas = pd.date_range(start='2024-01-01', end='2024-12-31', freq="D")
fechas = np.random.choice(fechas, num_registros)
productos = ['Camiseta', 'Pantalon', 'Zapas', 'Bolso', 'Gorra', 'Reloj']
categorias = ['Ropa', 'Ropa', 'Calzado', 'Accesorios', 'Accesorios', 'Accesorios']
precios = np.random.uniform(20, 150, num_registros)
cantidades = np.random.randint(1, 10, num_registros)
ciudades = ['Cartagena', 'Berlin', 'Milan', 'Bogota', 'Quito', 'Arica']
data = {
    'Fecha': fechas,
    'Producto': np.random.choice(productos, num_registros),
    'Categoria': [categorias[productos.index(p)] for p in np.random.choice(productos, num_registros)],
    'Precio': precios,
    'Cantidad': cantidades,
    'Ciudad': np.random.choice(ciudades, num_registros)
}

df_data = pd.DataFrame(data)
df_data = df_data.sort_values(by='Fecha').reset_index(drop=True)
df_data.to_csv('ventas.csv', index=False)
print("Archivo 'ventas.csv' creado exitosamente.")

Archivo 'ventas.csv' creado exitosamente.

In [9]:
ventas_df = pd.read_csv('ventas.csv')

ventas_df['Ventas_Totales'] = ventas_df['Precio'] * ventas_df['Cantidad']
ventas_por_categoria_ciudad = ventas_df.groupby(['Categoria', 'Ciudad'])['Ventas_Totales'].sum().reset_index()
print("ventas por categoria y ciudad:\n", ventas_por_categoria_ciudad)

ventas por categoria y ciudad:
      Categoria     Ciudad  Ventas_Totales
0   Accesorios      Arica    38075.237883
1   Accesorios     Berlin    34032.791071
2   Accesorios     Bogota    41923.016056
3   Accesorios  Cartagena    28215.740684
4   Accesorios      Milan    40039.019209
5   Accesorios      Quito    40216.339383
6      Calzado      Arica     7446.997626
7      Calzado     Berlin    12149.999868
8      Calzado     Bogota    12716.593445
9      Calzado  Cartagena    10900.545969
10     Calzado      Milan    12766.031060
11     Calzado      Quito    14002.373873
12        Ropa      Arica    25128.962435
13        Ropa     Berlin    24211.068748
14        Ropa     Bogota    22025.546958
15        Ropa  Cartagena    21504.790128
16        Ropa      Milan    22664.728419
17        Ropa      Quito    21036.352886